body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

header{
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 119, 255);
}


header h1{
    line-height: 75px;
}


#logoUha{
    margin: auto 40px;
    padding: 20px 0;
    height: 100px;
}


#logoamine{
    margin: auto 40px;
    padding: 20px 0;
    height: 100px;
}

#logoamine:hover{
    transition: 1s;
    rotate: 360deg;
}


#wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    width: 100vw;
    height: 90vh;   
}

#container {
    position: relative;
    width: 720px;
    height: 463px; 
}



.btn {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(0, 119, 255);
    background-color: white;
    color: rgb(0, 119, 255);
    font-size: 15px;
    z-index: 2;         
}


.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: 700;
}


#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; 
}


#principal{
    display: block;
    text-align: center;
}


#info{
    margin: auto;
    width: 700px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}


#clear{
    background-color: white;
    color: rgb(0, 119, 255);
    border: 2px solid rgb(0, 119, 255);;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 50px;
}

#clear:hover{
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: white;

}



/*Mode paysage----------*/
@media screen and (max-height: 500px) and (orientation: landscape) {

    #wrapper {
        height: auto;
        padding: 10px 0;
    }

    #container {
        width: 100vw;
        height: calc(100vw * 463 / 720);
        max-height: 100vh;
    }

    #container img,
    #container canvas {
        width: 100%;
        height: 100%;
    }

    #info {
        width: 95%;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .btn {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}
